/******************************************
 * Basic Styles
 ******************************************/

#dsidx-listings {
	.dsidx-listing {
		.dsidx-media {
			margin: 30px;
		}
		.dsidx-data {
			margin: 20px 30px 20px 320px;
		}
		.dsidx-primary-data {
			padding-bottom: 20px;
		}
		.dsidx-secondary-data {
			padding-top: 20px;
		}
	}
}
#dsidx select, #dsidx-search-form select,
#dsidx input,
#dsidx textarea {
	border: 1px solid $border-color;
}
ol#dsidx-listings {
	padding: 30px 0;
}

#dsidx {
	h3 {
		margin-bottom: 20px;
		padding-bottom: 0;
		border-bottom: none;
	}
	table {
		label {
			margin-bottom: 0;
			line-height: 27px;
		}
	}
	.dsidx-contact-form-submit {
		background-color: $theme-color;
		color: $white;
		font-size: 12px;
		font-weight: 900;
		text-transform: uppercase;
		border-radius: 3px;
		padding: 6px 30px 10px;
		@include button-3d(empty, -2px, darken($brand-primary,15%));
	}
}
body.dsidx {
	input,select, textarea {
		border: 1px solid $border-color;
		padding: 2px;
		line-height: 21px;
	}
}
.dsidx-resp-area input[type="text"], 
.dsidx-resp-area select {
	border: 1px solid $border-color;
	padding: 2px;
	height: 40px;
}
.dsidx-resp-area textarea {
	border: 1px solid $border-color;
	padding: 2px;
}
.dsidx-resp-area input[type="submit"] {
	background-color: $theme-color;
	color: $white;
	font-size: 12px;
	font-weight: 900;
	text-transform: uppercase;
	border-radius: 3px;
	padding: 6px 30px 10px;
	@include button-3d(empty, -2px, darken($brand-primary,15%));
}

.dsidx-results .dsidx-paging-control {
    background: #e5ebee none repeat scroll 0 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    box-sizing: border-box;
    color: #96a8b6;
    float: left;
    font-family: "Arial",sans-serif;
    font-size: 11px;
    height: 40px;
    line-height: 40px;
    padding-left: 15px;
    text-align: left;
    width: 65%;
}
.dsidx-results .dsidx-paging-control a {
    color: #96a8b6;
    text-decoration: underline;
    transition: all 300ms ease-in-out 0s;
}
.dsidx-results .dsidx-paging-control a:hover {
    color: #425b6e;
    transition: all 300ms ease-in-out 0s;
}
.dsidx-results .dsidx-sorting-control {
    background: #e5ebee none repeat scroll 0 0;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    color: #96a8b6;
    float: right;
    font-family: "Arial",sans-serif;
    font-size: 11px;
    height: 40px;
    line-height: 40px;
    text-align: right;
    width: 35%;
}
.dsidx-results .dsidx-sorting-control form {
    display: inline-block;
    float: right;
    margin-left: 5px;
    margin-right: 5px;
}
#dsidx-disclaimer {
	clear: left;
}

p.dsidx-error {
	margin: 0;
	padding: 5px 15px;
}

.dsidx-results {
	.dsidx-prop-summary {
		margin-bottom: 30px !important;
		background-color: #fff;
		padding: 30px;
	}
	.dsidx-prop-title {
		margin-bottom: 15px !important;
		color: $theme-color;
		font-size: 20px;
	}
	.dsidx-prop-features {
		> div {
			margin-bottom: 5px;
		}
	}
}

.entry-content-page > p.dsidx-summary {
	margin: 0;
}


/******************************************
 * Single IDX
 ******************************************/
.dsidx-details {
	background-color: $white;
	padding: 20px 30px 10px;
	#dsidx-description {
		padding-left: 30px;
		font-style: italic;
		font-size: 16px;
		line-height: 30px;
	}
	hr {
		display: none;
	}
}
.dsidx-details #dsidx-actions {
    background: #e5ebee none repeat scroll 0 0;
    border-radius: 3px;
    box-sizing: border-box;
    color: #96a8b6;
    font-family: "Arial",sans-serif;
    font-size: 11px;
    height: 40px;
    line-height: 40px;
    margin-bottom: 30px;
    padding-left: 15px;
    text-align: left;
    width: 100%;
}
#dsidx-primary-data,
#dsidx-secondary-data,
.dsidx-supplemental-data,
#dsidx-contact-form table {
	border: 1px solid $border-color;
}

/******************************************
 * IDX widget
 ******************************************/
div.dsidx-results-widget .dsidx-slideshow, 
div.dsidx-results-widget .dsidx-slideshow ul, 
div.dsidx-results-widget .dsidx-slideshow li {
	height: 250px;
}
.dsidx-widget-single-listing {
	width: 100%;
}

@media screen and (max-width: 767px) {
	.dsidx-results .dsidx-paging-control {
		width: 55%;
	}
	.dsidx-results .dsidx-sorting-control {
		width: 45%;
	}
}
@media screen and (max-width: 639px) {
	.dsidx-results .dsidx-paging-control {
		width: 100%;
	}
	.dsidx-results .dsidx-sorting-control {
		width: 100%;
		text-align: left;
	}
	#dsidx-listings .dsidx-listing .dsidx-data {
		margin: 0 30px 25px 30px;
	}
	#dsidx-listings .dsidx-listing .dsidx-media {
		margin-bottom: 20px;
	}
}

/******************************************
 * Single Listing Shortcode
 ******************************************/
.dsidx-shortcode-item {
	background-color: #fff;
	padding: 30px;
	> h3 {
		text-decoration: none !important;
		font-size: 18px;
	}
	.dsidx-address {
		margin: 0 0 10px;
		font-size: 30px;
	}
	.dsidx-primary-photo {
		margin-top: 20px;
	}
	.dsidx-primary-data {
		margin-top: 15px;
		th, td {
			padding-top: 4px;
			padding-bottom: 4px;
		}
		tr:first-child {
			th, td {
				font-size: 20px;
			}
			td {
				color: $theme-color;
			}
		}
	}
	blockquote {
		margin: 30px 0 20px;
		font-style: italic;
	}
	.dsidx-photos {
		margin-bottom: 25px !important;
	}
	table:not(.dsidx-primary-data) {
		margin: 0 !important;
		tbody tr {
			th, td {
				padding: 10px 0;
			}
			&.dsidx-secondary-row {
				th, td {
					background-color: #f3f3f3;
				}
			}
		}
	}
	.dsidx-separator,
	.dsidx-results {
		display: none;
	}
	iframe {
		margin: 0 !important;
	}
}

/******************************************
 * IDX elements in VC
 ******************************************/
.fullhouse-dsidxpress-listings {
	.dsidx-summary {
		margin: 0;
	}
	.dsidx-results {
		overflow: hidden;
		margin: 0 -15px !important;
		.dsidx-prop-summary {
			width: 100%;
			background-color: transparent;
			box-direction: normal;
			-moz-box-direction: normal;
			-webkit-box-direction: normal;
			box-orient: vertical;
			-moz-box-orient: vertical;
			-webkit-box-orient: vertical;
			cursor: pointer;
			display: flex;
			flex-direction: column;
			@include rtl-float-left();
			padding: 0 15px;
			.dsidx-prop-title {
				box-ordinal-group: 2;
				-webkit-box-ordinal-group: 2;
				-moz-box-ordinal-group: 2;
				order: 1;
				margin: 0 !important;
				padding: 15px;
				background-color: #fff;
			}
			> div:nth-child(2) {
				margin-right: 0 !important;
				width: 100% !important;
				height: auto !important;
			}
			img {
				border: none !important;
				width: 100% !important;
				height: auto !important;
			}
			.dsidx-prop-features {
				box-ordinal-group: 2;
				-webkit-box-ordinal-group: 2;
				-moz-box-ordinal-group: 2;
				order: 2;
				background-color: #fff;
				padding: 0 15px 15px;
				> div {
					border-top: 1px solid $border-color;
					margin: 0;
					padding: 10px 0;
				}
			}
			@media (max-width: 799px) {
				width: 100% !important;
			}
		}
	}
	.fullhouse-dsidxpress-listings-content {
		> p {
			display: none;
		}
		&.column-2 {
			.dsidx-results .dsidx-prop-summary {
				width: 50%;
			}
		}
		&.column-3 {
			.dsidx-results .dsidx-prop-summary {
				width: 33.333333%;
			}
		}
		&.column-4 {
			.dsidx-results .dsidx-prop-summary {
				width: 25%;
			}
		}
		&.column-5 {
			.dsidx-results .dsidx-prop-summary {
				width: 20%;
			}
		}
		&.column-6 {
			.dsidx-results .dsidx-prop-summary {
				width: 16.666666%;
			}
		}
	}
}

.slider-search-form-wrapper .dsidx-resp-search-box {
	fieldset {
		background-color: $theme-color-second;
		display: block;
		padding: 30px;
	}
	label {
		color: #ccc;
		font-family: $headings-font-family;
		font-size: 11px;
		text-transform: uppercase;
	}
	input[type="text"],
	select {
		padding: 2px 15px;
		border-radius: 3px;
		margin-bottom: 20px;
		height: 32px;
	}
}

.slider-search-transparent .dsidx-resp-search-box {
	fieldset {
		padding: 30px;
		background-color: rgba($theme-color-second, .6);
		display: block;
		@media (max-width: 767px) {
			background-color: $theme-color-second;
		}
	}
	label {
		color: #ccc;
		font-family: $headings-font-family;
		font-size: 11px;
		text-transform: uppercase;
	}
	input[type="text"],
	select {
		padding: 2px 15px;
		height: 32px;
		border-radius: 3px;
	}
}

/******************************************
 * IDX responsive
 ******************************************/
 @media screen and (min-width: 979px) and (max-width: 1023px) {
	.sidebar {
		.dsidx-resp-area.dsidx-resp-area-half {
			padding-right: 0 !important;
			width: 100% !important;
			&.dsidx-resp-area-right {
				padding-left: 0 !important;
			}
		}
		div.dsidx-results-widget {
			.dsidx-panel .dsidx-photo {
				float: none;
				margin-right: 0;
				margin-bottom: 10px;
				display: block;
				width: 100%;
				img {
					width: 100% !important;
					height: auto !important;
					max-width: 200px !important;
				}
			}
			h4, p {
				width: 100% !important;
				margin: 0 !important;
			}
			.dsidx-slideshow,
			.dsidx-slideshow ul,
			.dsidx-slideshow li {
				height: 320px !important;
			}
		}
	}
}

@media (max-width: 979px) {
	.dsidx-resp-search-form fieldset {
		display: block;
	}
}

@media (max-width: 639px) {
	.dsidx-results {
		.dsidx-prop-summary {
			> div:nth-child(2) {
				float: none !important;
				margin-right: 0 !important;
				margin-bottom: 15px;
				img {
					border: none !important;
					width: 100% !important;
				}
			}
		}
	}
}

@media (max-width: 479px) {
	.dsidx-details,
	.dsidx-shortcode-item {
		padding: 0;
	}
}