
.vc_element-icon{
	 background-size:cover;
  }
 .vc_element-icon.icon-wpb-news-slideshow{
	background-image:url(../images/news/6.jpg);
 }

 .vc_element-icon.icon-wpb-news-1{
	background-image:url(../images/news/1.jpg);
 }
 .vc_element-icon.icon-wpb-news-2{
	background-image:url(../images/news/2.jpg);
 }
 .vc_element-icon.icon-wpb-news-3{
	background-image:url(../images/news/3.jpg);
 }
 .vc_element-icon.icon-wpb-news-4{
	background-image:url(../images/news/4.jpg);
 }
 .vc_element-icon.icon-wpb-news-5{
	background-image:url(../images/news/5.jpg);
 }
 .vc_element-icon.icon-wpb-news-7{
	background-image:url(../images/news/7.jpg);
 }
.vc_element-icon.icon-wpb-news-8{
	background-image:url(../images/news/8.jpg);
 }
 .vc_element-icon.icon-wpb-news-9{
	background-image:url(../images/news/9.jpg);
 }
 .vc_element-icon.icon-wpb-news-10{
	background-image:url(../images/news/10.jpg);
 }
 .vc_element-icon.icon-wpb-news-11{
	background-image:url(../images/news/11.jpg);
 }
  .vc_element-icon.icon-wpb-news-12{
	background-image:url(../images/news/12.jpg);
 }
  .vc_element-icon.icon-wpb-news-13{
	background-image:url(../images/news/13.jpg);
 }

   .vc_element-icon.icon-wpb-news-14{
	background-image:url(../images/news/14.jpg);
 }

   .vc_element-icon.icon-wpb-news-15{
	background-image:url(../images/news/15.jpg);
 }

.vc_element-icon.icon-wpb-news-16{
	background-image:url(../images/news/16.jpg);
}

.vc_element-icon.icon-wpb-widgets-1{
	background-image:url(../images/widgets/1.png);
}

.vc_element-icon.icon-wpb-widgets-2{
	background-image:url(../images/widgets/2.png);
}

.vc_element-icon.icon-wpb-widgets-3{
	background-image:url(../images/widgets/3.png);
}

.vc_element-icon.icon-wpb-widgets-4{
	background-image:url(../images/widgets/4.png);
}

.vc_element-icon.icon-wpb-widgets-5{
	background-image:url(../images/widgets/5.png);
}

.vc_element-icon.icon-wpb-widgets-6{
	background-image:url(../images/widgets/6.png);
}

.vc_element-icon.icon-wpb-widgets-7{
	background-image:url(../images/widgets/7.png);
}

.vc_element-icon.icon-wpb-widgets-8{
	background-image:url(../images/widgets/8.png);
}

.vc_element-icon.icon-wpb-widgets-9{
	background-image:url(../images/widgets/9.png);
}

.vc_element-icon.icon-wpb-widgets-10{
	background-image:url(../images/widgets/10.png);
}

.vc_element-icon.icon-wpb-widgets-11{
	background-image:url(../images/widgets/11.png);
}

.vc_element-icon.icon-wpb-widgets-12{
	background-image:url(../images/widgets/12.png);
}

.vc_element-icon.icon-wpb-widgets-13{
	background-image:url(../images/widgets/13.png);
}

.vc_element-icon.icon-wpb-widgets-14{
	background-image:url(../images/widgets/14.png);
}

.vc_element-icon.icon-wpb-widgets-15{
	background-image:url(../images/widgets/15.png);
}

.vc_element-icon.icon-wpb-estates-1{
	background-image:url(../images/estates/1.png);
}

.vc_element-icon.icon-wpb-estates-2{
	background-image:url(../images/estates/2.png);
}

.vc_element-icon.icon-wpb-estates-3{
	background-image:url(../images/estates/3.png);
}

.vc_element-icon.icon-wpb-estates-4{
	background-image:url(../images/estates/4.png);
}

.vc_element-icon.icon-wpb-estates-5{
	background-image:url(../images/estates/5.png);
}

.vc_element-icon.icon-wpb-estates-6{
	background-image:url(../images/estates/6.png);
}

.vc_element-icon.icon-wpb-estates-7{
	background-image:url(../images/estates/7.png);
}

.vc_element-icon.icon-wpb-estates-8{
	background-image:url(../images/estates/8.png);
}

.vc_element-icon.icon-wpb-estates-9{
	background-image:url(../images/estates/9.png);
}

.vc_element-icon.icon-wpb-estates-10{
	background-image:url(../images/estates/10.png);
}

.vc_element-icon.icon-wpb-estates-11{
	background-image:url(../images/estates/11.png);
}

.vc_element-icon.icon-wpb-estates-12{
	background-image:url(../images/estates/12.png);
}

.vc_element-icon.icon-wpb-estates-13{
	background-image:url(../images/estates/13.png);
}

.vc_element-icon.icon-wpb-estates-14{
	background-image:url(../images/estates/14.png);
}

.vc_element-icon.icon-wpb-estates-15{
	background-image:url(../images/estates/15.png);
}

.vc_element-icon.icon-wpb-estates-16{
	background-image:url(../images/estates/16.png);
}

.vc_element-icon.icon-wpb-estates-17{
	background-image:url(../images/estates/17.png);
}

.vc_element-icon.icon-wpb-estates-18{
	background-image:url(../images/estates/18.png);
}

.vc_element-icon.icon-wpb-estates-19{
	background-image:url(../images/estates/19.png);
}

.customize-control-PBR_Layout{
	background:#fff;
	padding:30px;
}
#update-nag,.update-nag{
	display:block;
}